{% extends 'Kalkulator/szablon.html' %}

{% block wszystko %}
{% load static %}

<div class="main-content">
<p>Płatność: P_Skrobia</p>
<p>Opis: Płatność do ziemniaków skrobiowych zgodnie z umową kontraktacji.</p>
<p>Stawka płatności: 1761,46 zł.</p>
<p></p>

<p></p>
<p>Wprowadź powierzchnię dla płatności P_Skrobia oraz powierzchnię zmniejszeń.</p>
    <form action="{% url 'dodajwartoscp_skrobia' platnoscp_skrobia.id %}" method='post'>
        {% csrf_token %}
        <table border="1">
        {{ form }}
        </table>
        <b><p>W celu dodania wartości do wyliczeń  wciśnij przycisk "DODAJ DO WYLICZEŃ".</p></b>
        <button name="submit">DODAJ DO WYLICZEŃ</button>
        <b><p>Aby dokonać wyboru kolejnej płatności należy na panelu bocznym kliknąć "Wybierz płatności".</p></b>
        <b><p>W celu wyliczenia płatności należy na panelu bocznym kliknąć "Podsumowanie".
    </form>
</div>

{% endblock wszystko %}