{% extends 'Kalkulator/szablon.html' %}

{% block wszystko %}
{% load static %}

<div class="main-content">
<p>Płatność: Krowy</p>
<p>Opis: Płatność do krów w wieku powyżej 24 miesięcy.</p>
<p>Stawka płatności: 467,35 zł.</p>
<p></p>

<p></p>
<p>Wprowadź dane dla płatności do krów oraz zmniejszenia.</p>
    <form action="{% url 'dodajwartosckrowy' platnosckrowy.id %}" method='post'>
        {% csrf_token %}
        <table border="1">
        {{ form }}
        </table>
        <b><p>W celu dodania wartości do wyliczeń  wciśnij przycisk "DODAJ DO WYLICZEŃ".</p></b>
        <button name="submit">DODAJ DO WYLICZEŃ</button>
        <b><p>Aby dokonać wyboru kolejnej płatności należy na panelu bocznym kliknąć "Wybierz płatności".</p></b>
        <b><p>W celu wyliczenia płatności należy na panelu bocznym kliknąć "Podsumowanie".
    </form>
</div>

{% endblock wszystko %}